body {
  text-align: center;
  background-color: #181818;
  user-select: none;
}

#app-level {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: white;
}

.app-container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  background-color: grey;
}
